body {
    font-family: Arial, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    background-image:url(https://media.istockphoto.com/id/1077386668/photo/red-smoke-background.jpg?s=170667a&w=0&k=20&c=CFDJY6JN7Ot1WWG134EgumeSA8i80L0wYhz2Wk0Wwbg=);
    margin-top: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    text-shadow: black 3px 5px;

    
}

.form-group {
    margin-bottom: 15px;
    
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
    background:linear-gradient(to right,red,black) ;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background:linear-gradient(to right,red,black) ;
    color:black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 40px;
}

button:hover {
  color: red;}

/* Additional styles can be added to enhance the design */
